<div class="row">
  <div class="col-sm-4">
    <div class="well">
      <h4><a href="#section5">Favours you owe</a></h4>
      <p>8,000</p>
      <!-- <p><i class="fas fa-sort-amount-down-alt"></i>  </p> -->
    </div>
  </div>
  <div class="col-sm-4">
    <div class="well">
      <h4><a href="#section6">Favours owed to you</a></h4>
      <p>3,000</p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="well">
      <h4><a href="#section7">Favours Returned</a></h4>
      <p>2,000</p>
    </div>
  </div>
</div>
